Source: ros-indigo-evarobot-pose-ekf
Section: misc
Priority: extra
Maintainer: Mehmet Akcakoca <akcakocamehmet@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://ros.org/wiki/evarobot_pose_ekf
Standards-Version: 3.9.2

Package: ros-indigo-evarobot-pose-ekf
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: evarobot_pose_ekf provides roslaunch scripts for correction of the Evarobot's orientation with an IMU sensor.
